input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.css-13cymwt-control, .css-t3ipsp-control:hover {
    height: 50px;
    width:30%;
    display: block;
}


form{
   display: flex;
}


.chart-container{
    width: 70vw;

}

.tracker-container{
    display: flex;
    height:30vh;
    overflow-y: hidden;
}

.ProseMirror {
    border: solid black 1px;
}

.draggable-container{
    display: flex;
    flex-direction: column;
}

.drag{
    height: 5vh;
    cursor: move;
    background-color: rgb(185, 249, 249);
}


